/*
 *------------ GLOBAL ------------------------------
 */
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
}

:root {
  --main-black: #;
  --main-white: #;
}
/* 
@font-face {
  font-family: "CustomFont";
  src: url("/css/fonts/centauri-webfont.woof") format("woff");
  src: url("/css/fonts/centauri-webfont.woff2") format("woff2");
  src: url("/css/fonts/exo2-thin-webfont.woof") format("woff");
  src: url("/css/fonts/exo2-thin-webfont.woff2") format("woff2");
  } */

html {
  font-family: Avenir, sans-serif;
}

body, html {
  height: 100vh;
  width: 100%;
}

body {
  min-height: 640px;
  background-image: url('../images/fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:  auto 100px;
  grid-gap: 0px;
  grid-template-areas:
    "l r"
    "f f"
}
/*
 *------------ NAV ---------------------------------
 */

/*
 *------------ CONTENT ---------------------------------
 */
 .left {
  grid-area: l;
  width: 80%;
  margin: auto;
  margin-right: 0;
}

h1 {
  font-family: centauriregular;
  font-size: 30px;
  letter-spacing: 15px;
  margin: auto;
  color: white;
}

p {
  margin: auto;
  font-family: exo_2thin, sans-serif;
  margin-left: 15px;
  font-size: 16px;
  color: white;
}

.right {
  grid-area: r;
  width: 40%;
  max-width: 280px;
  margin: auto;
}
/*
 *------------ BACKGROUND LINES ---------------------------------
 */

/*
 *------------ FOOTER ---------------------------------
 */
 .footer {
  grid-area: f;
  margin: auto;
  margin-top: 0;
}

.social-menu {
 display: inline-flex;
 list-style-type: none;
 padding-left: 0;
}

li {
  margin-left: 65px;
}

li img {
  height: 40px;
}

.facebook_button {
  margin-left: 0px;
}
/*
 *------------ MOTION ---------------------------------
 */

@media screen and (max-width: 850px){
  body {
    grid-template-columns: 100%;
    grid-template-rows:  200px auto 100px;
    grid-template-areas:
      "l"
      "r"
      "f"
  }

  .left {
    width: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 3vw;
  }

  p {
    text-align: center;
    font-size: 2vw;
  }

  .social-menu {
    display: flex;
    flex-wrap: wrap;
   }

}

@media screen and (max-width: 610px){

  .right {
    width: auto;
  }

  h1 {
    letter-spacing: unset;
  }


  li {
    margin-left: 30px;
  }
  
  li img {
    height: 7vw;
  }

}